<!DOCTYPE html>
<html>
  <head>
    <title>BookCommunication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <nav class="navbar is-primary">
      <div class="navbar-brand">
        <%= link_to "/", class: "navbar-item" do %>
          <h1 class="title is-4" style="font-family: cursive;">BookCommunication</h1>
        <% end %>
      </div>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-item">
            <a href="" class="navbar-item button is-primary is-light">投稿一覧</a>
          </div>
          <div class="navbar-item">
            <a href="" class="navbar-item button is-primary is-light">ユーザー一覧</a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <a href="" class="navbar-item button is-primary is-light">ログイン</a>
                </p>
                <p class="control">
                  <a href="" class="navbar-item button is-primary is-light">新規登録</a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
